.intro {
  display: flex;
  height: 80vh;
  width: 100%;
  max-width: 1200px;
  margin: 3em auto 0;
  padding: 0 2rem;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4em;
  transition: .5s;
}

.intro h1 {
  font-family: 'Teko', sans-serif;
  font-size: 5rem;
  line-height: 0.8em;
  text-transform: uppercase;
  color: #3A437E;
}

.title {
  margin: 4em 0;
  color: #366AF4;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.5em;
  display: flex;
  align-items: center;
}

.title .icon {
  border: 2px solid #366AF4;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 40px;
  border-radius: 25px;
  
}

.title span {
  margin-left: 1em;
  transition: 0.5s;
  font-size: 0.8rem;
}


.text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 3.5em;
}

.colored {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.colored a {
  display: flex;
  width: 100%;
}


.colored a img {
  object-fit: cover;
  height: 100%;
  transition: 2s;
}

.colored a img:hover {
  transform: scale(1.1);
}

.portfolio {
  padding: 4em 0;
  background-color: var(--blue);
  
  color: white;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.container h3 {
  position: relative;
  font-weight: 100;
  font-size: 2rem;
  display: inline-block;
  margin-left: 2rem;
  letter-spacing: .9rem;
  transition: .2s ease-in-out;
}

.container h3:hover {
  letter-spacing: 1rem;
}

.container h3::before {
  position: absolute;
  content: '';
  top: 45px;
  left: 55px;
  height: 3px;
  width: 200px;
  background-color: var(--lightBlue);
}
.container h3::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 1px;
  width: 200px;
  background-color: var(--lightBlue);
}

@media only screen and (max-width: 380px) {
  .intro h1 {
    font-size: 4rem;
  }
}