.nav {
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social a {
  color: var(--darkBlue);
  margin-left: 1em;
}

.social a:hover {
  color: var(--blue);
}

.logo {
  margin-left: 3rem;
  width: 4em;
  height: 4em;
}

.menu {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 10;
  height: calc(100vh - 6.5em);
  max-height: 861px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  transform: translateX(-100%);
  opacity: 0;
  transition: .4s ease-out;
}

.menu a {
  width: 100%;
  padding: 3em 0;
  text-align: center;
  color: var(--blue);
  font-weight: 700;
  font-size: large;
  text-transform: uppercase;
}

.menu a:hover {
  background-color: var(--grey);
}

.open {
  transform: translateX(0);
  opacity: 1;
}

@media only screen and (max-width: 380px) {
  .logo {
    margin-left: 2rem;
    width: 3em;
    height: 3em;
  }
}