.nav {
  padding-top: 2rem;
  padding-left: 2rem;
}

.logo {
  margin-left: 3rem;
  width: 4em;
  height: 4em;
}

.menu {
  height: calc(100vh - 6.3em);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  transform: translateX(-100%);
  opacity: 0;
  transition: .4s ease-out;
}

.menu a {
  width: 100%;
  padding: 3em 0;
  text-align: center;
  color: var(--blue);
  font-weight: 700;
  font-size: large;
  text-transform: uppercase;
}

.menu a:hover {
  background-color: var(--grey);
}

.open {
  transform: translateX(0);
  opacity: 1;
}