.container {
  display: flex;
  width: 100vw;
  height: 80vh;
  background-color: var(--primary);
}

.content {
  display: flex;
  max-width: 1218px;
  margin: 0 auto;
}

.logo {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 3rem;
}

.logo img {
  filter: brightness(1.5);

  transition: all .2s ease;
}

.logo img:hover {
  filter: brightness(1);
}
