.container {
  display: flex;
  background-color: var(--dark);
}

.content {
  color: var(--light);
  display: flex;
  max-width: 1218px;
  margin: 0 auto;
}

.left {
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 65vh;
}

.right {
  width: 30vw;
  background-color: aliceblue;
}

.left > h3 {
  color: var(--primary);
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.left form {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
  padding-bottom: 3rem;
  margin-bottom: 2rem;
}

.field {
  width: 100%;
}

.field > input, .field > textarea {
  padding: .5rem 1rem;
  width: 100%;
  margin: 1.5rem 0;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid var(--light);
  color: var(--light);

  font-size: 1.1rem;
}

.field > input:focus, .field > textarea:focus {
  outline: none;
}

.field > button {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 1rem 0;
  background-color: var(--primary);
  border: none;
  color: var(--light);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  margin-top: 1rem;

  transition: all .2s ease;
}

.field > button:hover,
.field > button:focus {
  box-shadow: inset 0 -5.25em 0 0 var(--light);
  color: var(--primary);
}

.right {
  color: var(--dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.social {
  flex: 1;
}

.social ul {
  height: 100%;
  margin: 0;
  list-style: none;
  padding: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.social ul li {
  padding: 1rem .5rem;
  margin: 0;
}

.icon {
  fill: var(--primary);
  font-size: 5rem;
  
  transition: all .2s ease;
}

.icon:hover {
  fill: #FD53B4;
}

.madeBy {
  text-align: center;
  color: var(--dark);
  margin-bottom: 2rem;
}

.madeBy span {
  color: #FD53B4;
}

.send {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: hue-rotate(170deg);
}

.send p {
  margin-top: 3rem;
}


@media (max-width: 755px) {
  .content {
    flex-direction: column;
  }

  .left {
    width: 100vw;
    margin-top: 2rem;
    margin-bottom: 5rem;
  }

  .left > form {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .right {
    width: 100vw;
    padding-bottom: .0;
  }

  .social > ul {
    flex-direction: row;
    width: 100vw;
    justify-content: space-evenly;
  }

  .icon {
    font-size: 2rem;
  }
}

