:root {    
  --blue: #326CF4;
  --lightBlue: #4491FE;
  --darkBlue: #3A437E;
  --fontColor: white;
  --grey: #EDF0FF;
  --lightgrey: #f8f9ff;
  --orange: #FF7E44; 
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
